* {
  margin: 0px;
  padding: 0px;
}
/* font-family */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Shared styles */
body {
  background-color: rgb(245, 245, 245);
}
section {
  margin: 60px 192px;
  font-family: Fira Sans;
}
.primary-btn {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 8px;
  border: none;
  text-align: center;
}
.section-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 28px;
}
.section-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 38px;
}
/* Banner style */
.banner-content {
  margin-top: 44px;
  /* margin-right: 76 px; */
}
.banner {
  padding: 96px 72px;
  background: rgb(198, 228, 214);
  display: flex;
  justify-content: space-between;
}

.banner-title {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 28.8px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 19px;
}
.banner-description {
  width: 680px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 67px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 28px;
}
.banner-btn {
  background: rgb(0, 106, 80);
  width: 324px;
  height: 67px;
}
.hero-pic img {
  width: 560px;
  height: 430px;
}

/* The vision of future style */

.vof-contents {
  display: flex;
  gap: 24px;
}
.vof-content {
  padding: 32px;
  width: 490px;
  height: 355px;
  box-sizing: border-box;
  border-radius: 16px;
}

.vof-content img {
  width: 74px;
  height: 74px;
  margin-bottom: 33px;
}
.vof-content h3 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}
.vof-content p {
  width: 360px;
  height: 86px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.vof-btn {
  font-size: 16px;
  height: 41px;
  width: 122px;
}
#vof-content1 {
  background: rgba(84, 144, 245, 0.2);
}
#vof-btn1 {
  background: rgb(84, 144, 245);
}
#vof-content2 {
  background: rgb(198, 228, 214);
}
#vof-btn2 {
  background: rgb(9, 161, 92);
}
#vof-content3 {
  background: rgb(247, 235, 207);
}
#vof-btn3 {
  background: rgb(255, 194, 57);
}

/* Recent news style */
.rn-content {
  box-sizing: border-box;
  border: none;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 48px;
  display: flex;
  gap: 32px;
}
.rn-pic > img {
  border-radius: 24px;
}
.rn-details h2 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}
.rn-details > img {
  width: 134px;
  height: 40px;
  margin-bottom: 12px;
}
.rn-date-time {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.rn-details p {
  /* width: 880px; */
  height: 72px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}
.rn-btn {
  width: 139px;
  height: 48px;
  background: rgb(0, 106, 80);
}
.content1 {
  margin-bottom: 24px;
}
